.head{
	text-align: center;
	color: #ff9933;
	font-family: 'Dancing Script', cursive;
}

.buttons{
	display: flex;
	justify-content: center;
	
}

button{
  padding: 5px;
  background:  #ff9933;
  border: 2px solid  #ff9933;
  border-radius: 4px;
  margin: 0 0.2rem;
  color: #f9eaea;
  letter-spacing: 0.2px;
}

button:hover{
  background: #e07c5c;
  border: 2px solid #e07c5c;
  cursor: pointer;
  color: white;
}

#container {
  display: grid;
  grid-gap: 0px;
  max-width: 500px;
  width: 90%;
  margin: 10px auto;
  height: 500px;
  grid-template-rows: repeat(var(--grid-rows), auto);
  grid-template-columns: repeat(var(--grid-cols),auto);
  border-color: #e24a65 ;
  border-style: solid;
  border-width: 10px;
  border-radius: 10px;  
}

:root {
  background: #612647;
}

.grid-item {
  border: 1px solid #ffcc80;
  height: auto;
  width: auto;
}